@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
:root {
  --morado: #ba87e4;
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}
*::selection {
  background: var(--morado);
  color: #111;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1.4rem;
}
html::-webkit-scrollbar-track {
  background: #111;
}
html::-webkit-scrollbar-thumb {
  background: var(--morado);
}
body {
  background:white;
  overflow-x: hidden;
  padding-left: 35rem;
}
section {
  min-height: 100vh;
  padding: 1rem;
}
.btn {
  padding: 0.7rem 3rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}
.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}
.btn:hover {
  background: var(--morado);
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #fff4;
  color: #111;
}
.heading span {
  color: var(--morado);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
header .usuario img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--morado);
}
header .usuario .name {
  font-size: 3.5rem;
  color: #fff;
}
header .usuario .post {
  font-size: 2rem;
  color: #eee;
}
header .navbar {
  width: 100%;
}
header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}
header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #333;
  color: #fff;
  font-size: 2rem;
  border-radius: 5rem;
}
header .navbar ul li a:hover {
  background: var(--morado);
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

.inicio {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
}
.inicio h3 {
  font-size: 2.5rem;
  color: #111;
}
.inicio h1 {
  font-size: 5rem;
  color: #111;
}
.inicio h1 span {
  color: var(--morado);
}
.inicio p {
  font-size: 2rem;
  color: #111;
  padding: 1rem 0;
}

.sobre .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.sobre .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}
.sobre .row .info h3 {
  font-size: 2rem;
  color: var(--morado);
  padding: 1rem 0;
  font-weight: normal;
}
.sobre .row .info h3 span {
  color: #111;
  padding: 0 0.5rem;
}
.sobre .row .counter {
  flex: 1 1 48rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sobre .row .counter .box {
  width: 20rem;
  background: #222;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.sobre .row .counter .box span {
  font-size: 4rem;
  color: var(--morado);
}
.sobre .row .counter .box h3 {
  font-size: 2rem;
  color: #fff;
}

.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}
.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2rem solid #111;
  position: relative;
}
.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}
.education .box-container .box h3 {
  font-size: 2rem;
  color: #111;
  padding-top: 1.5rem;
}
.education .box-container .box p {
  font-size: 1.4rem;
  color: #111;
  padding: 1rem 0;
}
.education img{
  height: 80%;
  width: 80%;
  object-fit: cover;
}
.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background: var(--morado);
}

.exp p{
    font-size: 2rem;
    color: #111;
    text-align: center;
}
.referencias{
    width: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 50px;
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 0;
    border: 0.2rem solid #111;
    margin: 2rem 0rem;
}
.titulo_grid{
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 2rem;
    font-weight: bold;
    color: var(--morado);
    text-transform: uppercase;
}
.encabezado_grid{
    font-weight: bold;   
}
.encabezado_grid, .item_grid{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.item_grid{
    padding: 10px;
    color: #111;
    font-size: 0.9em;  
}
.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: none;
}

/* media queries  */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .inicio {
    padding: 1rem 4rem;
  }
}
@media (max-width: 991px) {
  header {
    left: -120%;
  }
  #menu {
    display: block;
  }
  header.toggle {
    left: 0%;
  }
  body {
    padding: 0;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 400px) {
  header {
    width: 100vw;
  }

  .heading {
    margin: 0 3rem;
  }

  .sobre .row .counter .box {
    width: 100%;
  }

  .education .box-container .box {
    width: 100%;
  }
}